fastapi
uvicorn
sqlalchemy
asyncpg
psycopg2-binary
pydantic[email]
email-validator
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
celery
redis
python-multipart
groq
httpx
aiosmtplib
tenacity
sentry-sdk
greenlet
alembic